*{
    box-sizing: border-box;
   

}

body{
    background-color:#555;
}

.teclado{
    display:flex;
}


.oitavo{
    display:flex;
    position:relative;
    
}

.branca-key{
    background-color:#fff;
    width:50px;
    height:300px;
    border: 1px solid #000;
         
}

.preta-key {
position:absolute;
background-color: #000;
width: 30px;
height: 160px;
}

[cs]{
    left:35px;
    
}

[ds]{
    left:85px;

}

[fs] {
    left:185px;
}
[gs] {
    left:235px;
}
[as] {
    left:275px;

}
[vu]{
left:277px;
}

.selecionada {
    background-color:#070;
}
h2 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
     word-spacing: 98px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
     word-spacing: 61px;
     margin-left: 2%;
}

